@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Raleway:wght@500&display=swap');
main{
text-align: center;
}
.q,.a{
position: relative;
margin:0.5rem 2.3rem;
font-size: 1.1em;
color: #444;
}
.q::before{
content: "Q";
background: #7e4cef;
}
.a::before{
content: "A";
background: #ee6b4c;
}
.q::before, .a::before{
display: inline-block;
position:relative;
margin-right: 0.2em;
font-family: "Raleway";
color: #fff;
font-size: 1.5rem;
border-radius: 38.5px;
left: 0;
width: 2rem;
height: 2rem;
line-height: 2rem;
text-align: center;
-webkit-transform: translateY(.12rem);
transform: translateY(.12rem);
box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
}
p{
display: block;
margin: 0;
margin:0 0 3rem 3rem;
color: #444;
font-size: 0.95rem;
line-height: 2;
}
.honbun{
display: inline-block;
text-align: left;
padding: 0;
margin: 0;
width:40em;
}
/*smartphones-------smartphones-------smartphones-------smartphones-------*/
@media screen and (max-width: 1000px) {
.honbun{
width:100%;
}
p{
margin: 0;
padding:0 1rem 3rem 3rem;
padding-top: 0;
color: #444;
font-size: 0.95rem;
line-height: 1.7;
}
.q,.a{
padding:0.5rem;
margin: 0.5rem;
font-size: 1rem;
color: #444;
}
.q::before, .a::before{
display: inline-block;
position:relative;
margin-right: 0.15em;
font-family: "Raleway";
color: #fff;
font-size: 1.3rem;
border-radius: 2rem;
left: 0;
width: 2rem;
height: 2rem;
line-height: 2rem;
text-align: center;
-webkit-transform: translateY(.12rem);
transform: translateY(.12rem);
box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
}
}
