html{
font-size: 17px;
margin:0;
padding:0;
overflow-y: scroll;
}
body{
width:100%;
margin:0;
padding:0;
color: #222222;
font-size: 19px;
font-family:'Noto Sans JP', sans-serif;
-webkit-text-size-adjust:100%; !important
}
::selection {
background: #ee6b4c;
color: #fff;
text-align: center;
}
img{
display: inline;
width:100%;
margin: 0;
padding: 0;
}
.width100{
margin: 0;
}
a{
color: #7337f7;
text-decoration: none;
}
a:hover {
color: #a88ff3;
text-decoration: none;
}
main{
margin-top: 4rem;
}
header {
width: 100%;
background-color: #ffffff;
z-index: 9999;
height:4em;
position: fixed;
left: 0;
top: 0;
box-shadow: 0px 0px 4px 3px rgba(72,42,0,.3);
-webkit-box-shadow: 0px 0px 4px 3px rgba(72,42,0,.3);
-moz-box-shadow: 0px 0px 4px 3px rgba(72,42,0,.3);
}
.center{
text-align: center;
}
.sp_title{
display: inline;
height: 2em;
margin:1em 1.5em 1em 1.5em;
}
#menusp ul{
text-align: right;
margin: 1rem 1rem 1.5rem 0;
list-style: none;
width: 100%;
display: block;
position: absolute;
bottom: 0;
right: 0;
}
#menusp li{
display:inline-block;
vertical-align: middle;
margin: 0;
width:auto;
padding-left:1em;
}
#menusp li a{
display: block; 
text-decoration: none;
font-weight: 700;
color: #a0a0a0;
margin: 0;
text-align: center;
text-decoration: none;
position: relative;
}
.menuspsp {
letter-spacing: 0;
}
.nownow{
color:#222222;  
}
#menusp li a::after {
position: absolute;
bottom: -8px;
left: 0;
content: '';
width: 100%;
height: 3px;
background: #ee6b4c;
opacity: 0;
visibility: hidden;
transition: .3s;
}
#menusp li a:hover::after {
bottom: -4px;
opacity: 1;
visibility: visible;
}
.nav-unshown {
display:none;
}
.pc_unshown{
display: none;
}
h1 {
position: relative;
display: inline-block;
margin: 1.6em 0 1em 0;
}
h1:before {
content: '';
position: absolute;
bottom: -0.3em;
display: inline-block;
width: 3rem;
height: 6px;
left: 50%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
background-color: #ee6b4c;
border-radius: 2.5px;
}
h2{
color: #ee6b4c;
}
/*
h2::before{
font-family: "FontAwesome";
font-weight: 900;
content: "\f111";
color:#f69f88;
font-size: .9em;
position: relative;
bottom:.05em;
margin-right: .25em;
}
*/
p{
margin-bottom: 2em;
}
@media screen and (max-width: 1300px) {
.sp_title{
max-width:275px;
margin-top:1em;
}
#menusp li a{
font-size:0.85em;
}
.tabss{
display: inline;
width:35rem;
}
/*smartphones-------smartphones-------smartphones-------smartphones-------*/
@media screen and (max-width: 1000px) {
body {	
max-width: 100% ;
font-size: 15px;
line-height: 1.7; 
margin-bottom: 0.5em;
overflow-x: hidden;
}
header {
height:4em;
position: fixed;
box-shadow: 0px 0px 3px 3px rgba(72,42,0,.3);
-webkit-box-shadow: 0px 0px 3px 3px rgba(72,42,0,.3);
-moz-box-shadow: 0px 0px 3px 3px rgba(72,42,0,.3);
}
#top_image{
margin-top: 3.75em;
display: inline;
}
h1{
padding: 0.2em 0.3em;
}
h2{
padding: 0.05em 0.1em;
}
iframe {
width:100%;
}
img{
max-width:95%;
height:auto;
}
.humberger {
color: #888888;
}
.sp_title{
width:60%;
margin-top: 0.8em;
margin-left:0;
}
.container{
display: block;
}
#nav-drawer {
display: block;
position: relative;
}
#nav-open {
padding:15px;
display: inline-block;
width: 25px;
height: 20px;
vertical-align: middle;
}	
.nav-closed{
display: none;
position: fixed;
z-index: 99;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: black;
opacity: 0;
transition: .3s ease-in-out;   
}  
#nav-content {
overflow: hidden;
position: fixed;
top: 0;
left: 0;
z-index: 997;
width: 70%;
height: 100%;
background: #fff;
transition: .3s ease-in-out;
-webkit-transform: translateX(-105%);
transform: translateX(-105%);
}
#nav-input:checked ~ #nav-close {
display: block;
opacity: 0.3;
}
#nav-input:checked ~ #nav-content {
-webkit-transform: translateX(0%);
transform: translateX(0%);
box-shadow: 6px 0 25px rgba(0,0,0,0.15);
}
.pc_unshown{
display: block;
}
.sp_button{
float:left;
}
#menusp ul{
top: 0;
bottom: auto;
margin: 0; 
padding:0; 
width:100%;
}
#menusp li{ 
padding:0.5em;
margin: 0;
width:100%;
clear: left;
}
.now{
background: #ffdb99;
}
.nownow{
color: #222222;
}
#menusp li a{
letter-spacing: 0;
display: block; 
padding: 0.3em 0.6em;
text-decoration: none;
color: #333;
margin: 0px;
text-align: left;
font-size:15px;
}
#menusp li a::after {
display: none;
}
#menusp li a:hover::after {
display: none;
}
.menu_close{
font-weight: 700;
padding: 0.8em 0;
position: fixed;
bottom: 0;
text-align: center;
color: #ffffff;
background-color: #ff9d00;
width: 100%;
letter-spacing: 0.3em;
}
.menu_moji_sp{
font-size:1.4em;
color: #ff9d00;
font-weight: 700;
padding: 0.6em 0 0.2em 0.6em;
text-align: left;
}
.oshirarse{
color:#7e4cef;
background:#e6e0fb;
padding: 19px;
margin: 0;
display: block;
}
main{
margin: 3rem 0 0 0;
width:100%;
}