
.pp{
border-radius: 50%;
margin-bottom: 1em;
}
.outerflex{
width: 50rem;
display: inline-flex;
flex-wrap: wrap;
justify-content: center;
}
.innerflex{
width:15rem;
border:solid 1px #ddd;
padding: 1.5em;
margin: 1.5em;
box-shadow: 2px 10px 15px 0 rgba(88, 88, 88, 0.5);
line-height: 1.5;
}
.ppp{
font-size:1.4em;
font-weight:700;
color:#222;
}
.yaku{
margin-bottom: 0.5em;
}
.honbun{
color:#666;
text-align: left;
}
.eight, .kajogaki{
font-size: 0.8em;
}
.kajogaki::before{
font-family: "FontAwesome";
font-weight: 900;
content: "\f111";
color:#f69f88;
font-size: 0.7em;
position: relative;
bottom:0.15em;
margin-right: 0.2em;
}

@media screen and (max-width: 1000px) {
.outerflex{
width: 100%;
}
.innerflex{
width:60%;
}
}